.🛒 > div, .total {
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 500px;
	max-width: 95vw;
}

.total {
	margin: 10px 0;
}

.total span {
	color: rgb(255, 153, 0);
}

.🛒 > div {
	margin-bottom: 50px;
}

.🛒 span {
	white-space: nowrap;
	text-align: left;
	font-size: .9em;
}

.🛒 span.title {
	white-space: normal;
}

.🛒 .data {
	display: flex;
	/* gap: 15px; */
	flex-direction: column;
	justify-content: space-between;
	/* min-width: 40%; */
}

.🛒 .data .info span.price {
	margin-left: 10px;
	color: rgb(255, 153, 0);
}

.cart-product-buttons {
	text-align: right;
}

.cart-product-buttons button {
	height: 20px;
	width: 20px;
	margin: 2px;
	padding: 0;
	border: 2px solid #666;
	border-radius: 50%;
	color: white;
	background: transparent;
}

.cart-product-buttons button:hover {
	border: 2px solid white;
}

.completar-compra, .subir-producto {
	width: 100%;
	font-size: 1.2rem;
	border: none;
	color: white;
	cursor: default;
	background-color: rgb(124, 124, 124);
	transition: box-shadow .2s ease;
}

.completar-compra.active, .subir-producto.active {
	cursor: pointer;
	background-color: rgb(68,156,181);
	box-shadow: inset 200px 0px 100px -60px rgb(68 70 181);
}

.completar-compra.active:hover, .subir-producto.active:hover {
	box-shadow: inset 200px 0px 100px -60px transparent;
}

form {
	width: 100%;
}

form .field {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	font-size: .9em;
}

form .field input {
	background: transparent;
	border-radius: 5px;
	border: 1px solid lightgrey;
	color: white;
}


/* Buscador de categorias */
.category-form {
	width: 500px;
	max-width: 95vw;
}

.category-finder {
	position: relative;
	padding: 10px;
	width: 500px;
	max-width: 95vw;
	border: 1px solid #61dafb;
	border-radius: 5px;
}

.category-finder input {
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: 'Poppins';
	border: none;
	color: white;
	background: transparent;
}

.category-finder input:focus {
	outline:none
}

.category-finder .suggestion {
	position: absolute;
	top: 11px;
	left: 12px;
	font-size: 1em;
	color: #fff2;
}

.category-finder::after {
	position: absolute;
	right: 10px;
}

.category-finder.active::after {
	content: '✔';
	color: #5f5
}

.category-finder.not::after {
	content: '❌';
}