nav { 
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav a {
	margin: 10px;
	text-decoration: none;
	cursor: pointer;
}

/* Listado de categorias */
nav > div {
	display: flex;	
}

#carrito {
	border-radius: 5px;
	background-color: #fff2;
}