.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins';
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.App-link {
  color: #61dafb;
}

.title {
  padding: 0 20px;
  border: 1px solid #61dafb;
  border-radius: 20px;
}