.App {
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.4em;
  font-family: 'Poppins';
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 60vh;

  /* contrarrestar el nav */
  padding-top: 70px
}

a {
  text-decoration: none;
  color: inherit
}

h1,h2,h3 {
  font-weight: 400;
}

.loading {
  animation: load 1s infinite ease;
}

.flx-clmn-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button stuff */
button, .btn1, .btn2 {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #61dafb;
}

button, .btn2 {
  cursor: pointer;
  border: 2px solid transparent;
}

.btn1:hover {
  background: #fff2;
}

button:hover, .btn2:hover {
  border: 2px solid #666;
}

@keyframes load {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}

@media screen and (max-width: 760px) {
  .App {font-size: 1em}
  .item {padding: 10px}
}